.rootPane {
	-fx-background-color:rgba(255.0, 255.0, 255.0, 0.4);
	-fx-border-color:white;
}

.victoryLabel {
	-fx-font-size: 50.0pt;
	-fx-text-fill: white;
}

.posPane {
	-fx-font-size: 20.0pt;
}

.cerrarButton{
	-fx-background-color:rgba(200.0, 200.0, 200.0, 0.8);
	-fx-background-radius: 0;
	-fx-text-fill:black;
	-fx-font-size: 15px;
	-fx-background-insets: 0.0;
	-fx-padding: 10;
}

.cerrarButton:hover {
	-fx-background-color:rgba(255.0, 255.0, 255.0, 0.8);
}

.cerrarButton:pressed {
	-fx-background-color:rgba(255.0, 255.0, 255.0, 0.5);	
}

.hideButton {
	-fx-background-color: rgba(255, 0, 0, 0.5);
	-fx-border-color:rgba(255, 0, 0, 0.8);
}

.hideButton:hover {
	-fx-background-color: rgba(255, 0, 0, 0.4);
}

.hideButton:pressed {
	-fx-background-color: rgba(255, 0, 0, 0.3);
}