/*************************************************************************
 * 
 * Botonera Lateral
 * 
 *************************************************************************/
.botonesMenu {
	-fx-background-color: rgba(255.0, 255.0, 255.0, 0.1);
	-fx-text-fill: white;
	-fx-background-insets: 0.0;
	-fx-background-radius: 0.0;
	-fx-font-size: 15px;
	-fx-font-weight: bold;
}

.botonesMenu:hover {
	-fx-background-color: rgba(255.0, 255.0, 255.0, 0.3);
	-fx-text-fill: white;
	-fx-background-insets: 0.0;
	-fx-background-radius: 0.0;
	-fx-background-padding-right: 20.0;
}

.launchButton {
	-fx-background-color: rgba(255.0, 255.0, 255.0, 0.1), 
	radial-gradient(center 50% -40%, radius 300%, #e6e6e6 5%, rgba(230, 230, 230, 0) 45%);
	-fx-text-fill: white;
	-fx-padding: 30;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-background-insets: 0.0;
	-fx-background-radius: 15.0;
}

.launchButton:hover {
	-fx-background-color: rgba(255.0, 255.0, 255.0, 0.1)
	radial-gradient(center 50% -40%, radius 300%, #e6e6e6 5%, rgba(230, 230, 230, 0) 45%);
	-fx-text-fill: white;
	-fx-background-insets: 0.0;
	-fx-background-radius: 15.0;
}



/*************************************************************************
 * 
 * Panes
 * 
 *************************************************************************/

.grid {
	-fx-background-color: rgba(255.0, 255.0, 255.0, 0.1);
}

.tilePaneClass {
	-fx-background-color: rgba(255.0, 255.0, 255.0, 0.1);
}

/*************************************************************************
 * 
 * Scroll Panels
 * 
 *************************************************************************/
 
.scroll-pane > .viewport {
	-fx-background-color: transparent;
}

.scrollPaneClass {
	-fx-background-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 1.0em;
    -fx-border-radius :1.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 1.0em;
    -fx-padding :0.0 0.0 5.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 1.0em;
    -fx-padding :0.0 5.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.10em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.0 0.12em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,99.0%);
    -fx-background-radius : 1.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(black,60%);
    -fx-background-radius : 1.0em;
}

/**************************************************************************
 * 
 * Seccion de Skins
 * 
 *************************************************************************/

.skinButtons {
	-fx-background-color: transparent;
}

.skinButtons:hover {
	-fx-background-color: rgba(255.0, 255.0, 255.0, 0.1);
	-fx-background-radius: 0.0;
}

.skinButtons:pressed {
	-fx-background-color: rgba(255.0, 255.0, 255.0, 0.3);
	-fx-background-radius: 0.0;
}

/**************************************************************************
 * 
 * Seccion de Configuracion
 * 
 *************************************************************************/

.cfgLabels {
	-fx-text-fill: white;
}

.labelTituloCFG {
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-size: 2em;
	
}

#empezarPartidaHoverRoot {
	-fx-background-image: url(../assets/textures/imagenjugar.png);
	-fx-background-size:cover;
}