 .button {
 	-fx-background-image: url(../assets/textures/back.png);
 	-fx-background-color:rgba(255, 255, 255, 0.2);
 	-fx-background-repeat: no-repeat;
 	-fx-background-position: center;
  }
  
  .button:hover {
 	-fx-background-color:rgba(255, 255, 255, 0.7);
  }
  
    .button:pressed {
 	-fx-background-color:rgba(255, 255, 255, 0.5);
  }